.bg-primary{
    background-color: blueviolet !important;
    
}
#maindiv{
    
    box-shadow: 19px 15px 26px 3px rgba(0,0,0) !important;
    width: 95%;
    margin: auto;
}
.btn{
    width:30%;

}
#control,#sound,#progression{
    width:100%;
}
#sound button{
    width:20%;
}
.form-range::-moz-range-track{
    background-color: #d33682;
}

/* .pochette {
  width:45%;
} */

/*Apprence cursor volume et barre*/
#volume::-moz-range-track{
    background-color: crimson;
}
#volume {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 50%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  #volume:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  
  #volume::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background:#ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background:##ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  #volume::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 20px;
    width: 16px;
    border-radius: 3px;
    background:##ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  #volume::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background:#ffffff;
    cursor: pointer;
  }
 
    
  